openapi: 3.0.0
info:
  title: Director
  description: >
    Game service
  version: "0.1"
  x-displayName: Game service

servers:
  - url: https://app.42pasila.vn/director
    description: Production

paths:
  /_ping:
    get:
      summary: Check if the service is running
      responses:
        "200":
          description: Service is running
          content:
            application/json:
              schema:
                type: string
  /users:
    post:
      tags:
        - Users
      summary: Create a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequestBody"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /rooms:
    get:
      tags:
        - Rooms
      summary: Get all rooms
      responses:
        "200":
          description: Rooms fetched
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RoomDto"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Rooms
      summary: Create a room
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRoomRequestBody"
      responses:
        "201":
          description: Room created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateRoomResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /rooms/{roomId}:
    get:
      tags:
        - Rooms
      summary: Get a room by id
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Room fetched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoomDto"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Room not found or already ended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
  /rooms/{roomId}/connect:
    post:
      tags:
        - Rooms
      summary: Connect a user to room
      operationId: connectRoom
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectRoomRequest"
      responses:
        "200":
          description: Connected successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectRoomResponse"
        "404":
          description: Room not found or already ended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /rooms/{roomId}/matches:
    post:
      tags:
        - Rooms
      summary: Start a match
      operationId: startMatch
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartMatchRequest"
      responses:
        "200":
          description: Match started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StartMatchResponse"
        "403":
          description: Only room owner can start match
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Room not found or already ended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    CreateUserRequestBody:
      type: object
      required:
        - rudexUserId
      properties:
        rudexUserId:
          type: string

    CreateUserResponse:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string
    RoomDto:
      type: object
      required:
        - id
        - name
        - ownerId
        - userIds
        - connectionCount
      properties:
        id:
          type: string
        name:
          type: string
        ownerId:
          type: string
        userIds:
          type: array
          items:
            type: string
        connectionCount:
          type: integer
          minimum: 0

    CreateRoomRequestBody:
      type: object
      required:
        - userId
        - roomName
      properties:
        userId:
          type: string
        roomName:
          type: string

    CreateRoomResponse:
      type: object
      required:
        - roomId
        - roomName
      properties:
        roomId:
          type: string
        roomName:
          type: string

    ConnectRoomRequest:
      type: object
      required:
        - userId
      properties:
        userId:
          type: string

    ConnectRoomResponse:
      type: object
      required:
        - room
      properties:
        room:
          $ref: "#/components/schemas/RoomDto"
    StartMatchRequest:
      type: object
      required:
        - ownerId
      properties:
        ownerId:
          type: string
    StartMatchResponse:
      type: object
      required:
        - matchId
        - roomId
      properties:
        matchId:
          type: string
        roomId:
          type: string

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
        message:
          type: string
        statusCode:
          type: integer
        timestamp:
          type: string
          format: date-time
        path:
          type: string
