@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Chakra Petch", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000; /* darker to match image contrast */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Primary button color*/
  --color-primary: #1ecf94ab;
  --color-primary-hover: #1ae7a3c5;
  --color-primary-active: #15e29ec4;
  --color-primary-glow-inner: #00ddaa99;
  --color-primary-glow-outer: #00ddaa4d;
  --color-primary-glow-inner-hover: #00ddaacc;
  --color-primary-glow-outer-hover: #00ddaa80;

  /* Secondary grayscale / black tokens*/
  --color-light-gray: #f0e8e5;
  --color-light-gray-active: #eeecea;
  --color-border: #d6d3d2;
  --color-border-strong: #ccc8c7;
  --color-dark-gray: #5c5856;
  --color-form-gray: #6464644b;
  --color-black: #0e0603;

  /* Red */
  --color-red: #f40000;
  --color-red-hover: #ff2222;
  --color-red-active: #ee0000;

  /* Gold/Yellow */
  --color-gold: #ffd700;
  --color-gold-hover: #ffcc00;
  --color-gold-active: #e6b800;
}

body {
  margin: 0;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

